




  @media (max-width: 850px)  {
    .responsivefooter {
       
        flex-direction: column;
        width: 300px;
    }
  }


  @media (max-width: 850px)  {
    .responsivefooter {
       
        justify-content: center;
    }
  }