@use '../../../_css/queries.scss' as *;

.footer {
  padding: 20px 40px;
  background-color: black;
  color: white ;

}


.inclusions {
  display: grid;
  justify-content: center;
  gap: 30px;
  padding: 0;
  grid-template-columns: repeat(4, 1fr);
  background-color: #FAFAFA;

  @include large-break {
    grid-template-columns: repeat(2, 1fr);
  }

  @include mid-break {
    margin: 60px 0;
  }

  @include extra-small-break {
    grid-template-columns: 1fr;
  }
}

.icon {
  margin-bottom: 16px;
}




.wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: calc(var(--base) / 2) var(--base);

  @include small-break {
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
}

.logo {
  width: 170px;
}

.hr {
  border-color: white
}

.socialLinks {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: calc(var(--base) / 2) var(--base);

  @include small-break {
   
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
}

.socialLinkItem {
  width: 100%;
}


.hide {
  display: none;
}